
*{

    font-family: 'Times New Roman', Times, serif;
}



.post_container {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.right_section {
  margin-top: 0;
}
.left_section{

    background-color: rgb(250, 243, 243);
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}
section {
  
  width: 45%;
  margin-left: auto;
}

#section_about {
  background-color: mintcream;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
}



#section_date a {
  display: block;
}
#section_date {
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  margin-top: 11px;
}

ul,
ol {
  padding: 20px 20px;
}

.bold{
    font-weight: bold;
}
.bold1{
    font-style: italic;
}
.bold{
    text-decoration-line: line-through;
}

img{
    width:150px;
    height:150px;
border-radius: 50%;
}
@media screen and (max-width: 800px) {
  section {
    width: 80%;
    margin:auto;
  }
}
