<div class = 'block'  id = '{{color}}' style="boxShadow:{{state}} "   (currentColor)="setStyle($event)"  >  
    (CNN)State and federal investigators are scrambling to learn more about Robert Aaron Long, the suspect in a string of deadly shootings at three Atlanta-area Asian spas, and his alleged motive.

    Not much information has surfaced about the 21-year-old from Woodstock, about a half-hour drive north of Atlanta.
    He is presently detained without bond in Cherokee County, where he faces four counts of murder and a charge of aggravated assault, according to the county sheriff's office. More charges are possible.
    Tuesday's shootings took place at two spas in Atlanta and another in Acworth, about 10 miles west of Woodstock -- which left eight people, at least four of them Asian women, dead.
    The four killed in the shooting near Woodstock were Delaina Ashley Yaun, 33, of Acworth; Paul Andre Michels, 54, of Atlanta; Xiaojie Yan, 49, of Kennesaw; and Daoyou Feng, 44.
    The injured survivor was Elcias R. Hernandez-Ortiz, 30, of Acworth, authorities said.
    Authorities located Long about 150 miles south of Atlanta in Crisp County. State troopers took him into custody after using a special pursuit maneuver to spin his car out of control.
   <br/>
    <button style=" background-color: {{color}} "  (click)= onclick(color)>set {{color}} </button>
</div>